$color-dark: #666666;
$color-light: #f4f4f4;
$color-gray: #ccc;
$color-darkgray: #999;
$color-white: #FFFFFF;
$color-darkblue: #2384cc;

$fs-14:14px;
$fs-16:16px;
$fs-18:18px;
$fs-20:20px;
$fs-22:22px;
$fs-24:24px;

.fs-14{font-size: $fs-14}
.fs-16{font-size: $fs-16}
.fs-18{font-size: $fs-18}
.fs-20{font-size: $fs-20}
.fs-22{font-size: $fs-22}
.fs-24{font-size: $fs-24}

body{background: $color-white}
.main{padding: 70px 0 0 0}

.bg-dark{background-color: $color-dark;}
.bg-light{background-color: $color-light;}
.bg-gray{background-color: $color-gray;}
.bg-darkgray{background-color: $color-darkgray;}
.bg-item{background-color: $color-darkgray;}
.bg-cate{background-color: $color-darkblue;}
.type-cate{color:$color-darkblue; padding: 20px 5px 10px 5px;
    h5{font-size: $fs-24}
}
.type-item{background-color: $color-light}

.navbar-dark{
  z-index: 999;
  background-color: $color-dark;
  .nav-item{
      button{
        border: none;
        color:$color-white;
      }
  }
}

.btn-signup{width: 100px}
.btn-action{padding: 5px 20px}

.btn-create-block{
  width: 100%;
  padding: 15px 0;
  bottom:0;
  input{border: none; border-bottom: 1px $color-dark solid; margin-right: 10px; border-radius: 0}
  .form-control:focus{box-shadow:none}
  //.form-control.Required{border-color: red}
  .btn-action{
    width: 60%;
  }
}

.checklist-container{
  h1{margin: 20px 0 20px 0}
}

.checklist-container.publish-true{
  span{display: none}
  .btn-create-block{display: none!important;}
  .type-cate{
     i{display: none}
  }
}


.checklist{
    margin-bottom: 20px;
    li {font-size: $fs-20; width: 100%}
    .act-block{
      span{margin: 0 7px; cursor: pointer}
    }
}

.btn-edit-list{cursor: pointer}
